.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.mainCard{
  display: flex;
  flex-wrap:wrap;
  margin: 5px;
  padding: 0;
}

.search-input{
    width: 50%;
}

.ui toggle checkbox{
    margin-bottom: 10px;
}

